body{
    background-image: url("forest-6578551_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: max(100vh,100%);
    /* width: 100vw; */
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}
::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}

::-webkit-scrollbar-track {
    background: #898383;  
}

::-webkit-scrollbar-thumb {
    background: #555;  
    border-radius: 10px;
}
.navbar{
    /* background-color: rgba(255, 255, 255, 0.5); */
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
}
.navlist>ul{
    display: flex;
    column-gap: 20px;
    list-style-type: none;
    font-size: 30px;
    font-weight: bold;
    font-weight: bold;
    position: relative;
}
li a{
    color: rgb(255, 255, 255);
}
.navlist>ul>li{
    position: relative;
    color: white;
    padding: 5px;
   
}
.navlist>ul>li::before{
    content: "";
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    left: 0;
    /* bottom: 0; */
    transform: scale(0);
    transition: transform 0.5s;
    border-radius: 100%;
}
.navlist>ul>li:hover::before{
    transform: scale(1);
}
.logo>img{
    border-radius: 80px;
}
a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Optional: Keeps the anchor text color inherit from its parent */
}
.hover:hover{
    text-decoration: underline;
}
.login{
    display: flex;
    justify-content: center;
    /* text-align: center; */
    margin-top: 25px;
    padding: 20px;
    /* width: 100%; */
}
/* .flex{
    display: flex;
    flex-direction: column-reverse;
} */
.username{
    position: relative;
}
.email{
    position: relative;
}
.password{
    position: relative;
}
#eye{
    position: absolute;
    right: 25px;
    bottom: 5px;
    cursor: pointer;
    /* display: none; */
    z-index: 20;
}
#eyecross{
    position: absolute;
    right: 25px;
    bottom: 5px;
    display: none;
    cursor: pointer;
    /* display: none; */
    z-index: 20;
}
input{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 25px;
    background: transparent;
    z-index: 10;
    width: 100%;
}
input[type='checkbox']{
    width: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 35px;
    padding: 25px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border: 0.1px double black;
    border-radius: 20px;
}
label {
    position: absolute;
    left: 5px;
    top: 25%;
    pointer-events: none;
    transition: 0.5s;
    font-size: 20px;
}

.username input:focus ~ label {
    top: -25px !important;
}

.password input:focus ~ label {
    top: -25px;
}
.Remember{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
}
.check{
    display: flex;
    align-content: center;
}
.loginheader{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
}
button[type='submit']{
    text-align: center;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 30px;
    padding: 13px;
    font-size: 23px;
    font-weight: 700;
}
.sign{
    font-size: 20px;
    text-align: center;
}
input[type='text']:-webkit-autofill {
    background-color: transparent !important;
    color: black !important;
    -webkit-text-fill-color: black !important;
    fill: black !important;
    font-size: 16px;
    border: 1px solid #ccc !important;
}
@media (max-width:450px) {
    #eye img,#eyecross img{
        height: 17px ;
        width: 17px ;
    }
    .logo>img{
        width: 40px;
        height: 40px;

    }
    .navlist>ul{
        font-size: 20px;
    }
    button[type='submit']{
        font-size: 20px;

    }
    .loginheader{
        font-size: 23px;
    }
    label{
        font-size: 17px;
    }
    .font20{
        font-size: 17px;
    }
    
}
@media (max-width:375px) {
    #eye img,#eyecross img{
        height: 15px ;
        width: 15px ;
    }
    .navlist>ul{
        font-size: 15px;
    }
    button[type='submit']{
        font-size: 17px;

    }
    label{
        font-size: 15px;
    }
    .loginheader{
        font-size: 20px;
    }
    .font20{
        font-size: 15px;
    }
    
}

@media (max-width:250px) {
    .navlist>ul{
        font-size: 10px;
    }
    .logo img{
        width: 24px;
        height: 24px;
    }
    .loginheader{
        font-size: 20px;
    }
    .p{
        font-size: 15px;
    }
}
@media (min-height:100vh) {
    body{
        height: 120vh;
    }
    
}
