body{
    background-image: url("forest-6578551_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: max(100vh,100%);
    /* width: 100vw; */
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* ::-webkit-scrollbar{
    background-color:red ;
    padding: 5px;
    width: 10px;
}
::-webkit-scrollbar-track{
    background:transparent ;
    padding: 5px;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: blue;
    border-radius: 10px;
} */
::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}

::-webkit-scrollbar-track {
    background: #898383;  
}

::-webkit-scrollbar-thumb {
    background: #555;  
    border-radius: 10px;
    opacity: 0.5;
}
.navbar{
    /* background-color: rgba(255, 255, 255, 0.5); */
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
}
.navlist>ul{
    display: flex;
    column-gap: 20px;
    list-style-type: none;
    font-size: 30px;
    font-weight: bold;
    font-weight: bold;
    position: relative;
}
li a{
    color: rgb(255, 255, 255);
}
.navlist>ul>li{
    position: relative;
    color: white;
    padding: 5px;
   
}
.navlist>ul>li::before{
    content: "";
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    /* left: 0; */
    /* bottom: 0; */
    transform: scale(0);
    transition: transform 0.5s;
    border-radius: 100%;
}
.navlist>ul>li:hover::before{
    transform: scale(1);
}
#main{
    display: flex;
    justify-content: center;
    margin: 15px;
    column-gap: 25px;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: 600;
    position: relative;
}
.content{
    /* width: 100%; */
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    row-gap: 10px;
    /* margin-left: 50px;
    margin-right: 50px; */
}

.box1{
    /* width: 10vw; */
    /* border: 1px solid black; */
    padding: 40px;
    border-radius: 20px;
    text-align: center;
}
.box2{
    height: auto;
    border: 1px solid black;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    backdrop-filter: blur(1.5px);
}
.heads{
    color: transparent;
    background: linear-gradient(180deg,rgb(19, 126, 171),rgb(0, 247, 255));
    background-clip: text;
    font-size: 35px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    border-bottom: 1px solid black;
}
.but{
    font-size: 40px ;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    color: rgb(0, 136, 255);
}
a{
    color: black;
    text-decoration: none;
}
h1{
    color: transparent;
    background: linear-gradient(270deg,rgb(0, 106, 255),rgb(147, 217, 255));
    background-clip: text;
}

.p{
    width: 50vw;
    /* margin-left: 50px;
    margin-right: 20px; */
    font-size: 20px;
    text-align: justify;
    padding: 5px;
}
.head{
    font-size: 40px;
     background:linear-gradient(180deg,rgb(19, 126, 171),rgb(0, 247, 255));
     background-position: center;
     /* background-size: cover; */
    background-clip: text;
    color: transparent;
    display: inline-block; 
    border-bottom: 1px solid rgb(255, 254, 254);
}
.logo>img{
    border-radius: 80px;
}
.getstarted{
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    border:none;
    font-size: 35px;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    position: relative;
}   
.getstarted::before{
    content:'';
    border: 2px solid white;
    position: absolute;
    bottom: -5px;
    /* right: 0;
    left: 0; */
    width: 100%;
    border-radius: 130%;
    transform: scale(0);
    transition: transform 0.5s;
}
.getstarted:hover::before{
    transform: scale(1);
}


.getstarted a{
    
    color: transparent;
    background: linear-gradient(225deg,rgb(19, 126, 171),rgb(0, 247, 255)) ;
    background-clip: text;
}
.contextimg>img{
    border-radius: 20px;
}
.signup{
    font-size: 20px;
}


@media (max-width:750px) {
    .head{
        font-size: 25px;
    }
    .navlist>ul{
        column-gap: 0px;
        font-size: 20px;

    }
    .logo img{
        width: 30px;
        height: 30px;
    }
    .content div img{
        width: 150px;
        height: 150px;
    }
    p{
        width: 30vw;
    }
    .getstarted{
        font-size: 22px ;
    }
}
input:-webkit-autofill {
    background: transparent !important;
    
}
@media (max-width:400px) {
    .navlist>ul{
        font-size: 17px;
    }
}
@media (max-width:300px) {
    .navlist>ul{
        font-size: 11.5px;
    }
    .logo img{
        width: 24px;
        height: 24px;
    }
    .loginheader{
        font-size: 20px;
    }
    .p{
        font-size: 15px;
    }
}
@media (min-height: 100vh) {
    body {
        height: 110vh;
    }
}